@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  transition: all 0.6s;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  opacity: 0.8;
}

/***** LANDING PAGE STARTS *****/

/* Navbar Starts*/

#toggle {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;
  z-index: 3;
  background-color: rgba(61, 61, 61, 0.568);
  box-shadow: 0px 2px 8px 6px rgba(36, 35, 35, 0.329);
  position: fixed;
  width: 100%;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

nav li {
  cursor: pointer;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #c94b4b;
}

nav ul li a {
  position: relative;
}
nav ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;

  background: #c94b4b;
  height: 1px;
}

nav ul li a:hover:after {
  width: 70%;
}

nav a {
  text-decoration: none;
  padding: 7px 20px;
  font-size: 20px;
}

.logo {
  letter-spacing: 3px;
  margin-left: 0.2em;
  cursor: pointer;
}

.logo a {
  font-family: "Monoton", cursive;
  font-weight: normal;
  font-size: 24px;
}

.register-btn {
  width: 240px;
  height: 56px;
  font-size: 25px;
  text-transform: uppercase;
}

/* Navbar Ends */

.landing {
  height: 100vh;
  position: relative;
  animation: changeImg 12s infinite running;
}

@keyframes changeImg {
  0%,
  100% {
    background: url("./images/landing-page-1\ 1.png") no-repeat top center/cover;
  }
  25% {
    background: url("./images/csgo-hero-page\ 2.png") no-repeat top center/cover;
  }
  50% {
    background: url("./images/pubg-landing-page\ 1.png") no-repeat top
      center/cover;
  }
  75% {
    background: url("./images/Call-of-duty-landing.png") no-repeat top
      center/cover;
  }
}

.landing:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.header {
  position: absolute;
  left: 25%;
  top: 55%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin-left: 20px;
}

.header h1 {
  margin-left: 0.6em;
  font-size: 44px;
  line-height: 64px;
}

.header p {
  margin-left: 0.8em;
  font-size: 30px;
  line-height: 44px;
  font-weight: 400;
}

.header button {
  margin-left: 1em;
  width: 200px;
  height: 80px;
  padding: 10px 15px;
  font-size: 25px;
  background-color: #c94b4b;
  text-transform: uppercase;
}

.header button:active {
  transform: scale(0.98);
  color: white;
}

/***** LANDING PAGE ENDS *****/

/* ********events page starts****** */
.events {
  height: 200vh;
  overflow: hidden;
  background: linear-gradient(
    135deg,
    rgb(116, 20, 20) 0%,
    rgba(21, 39, 78, 1) 85%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.events .heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  font-size: 24px;
}

.events .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 50px 30px 30px 30px;
}

.show-on-scroll {
  border-radius: 1em;
  box-shadow: 1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  margin: 2em auto;
  opacity: 0;
  transform: translateX(-30%) rotateZ(-5deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
  will-change: transfrom, opacity;
}

.show-on-scroll.right {
  box-shadow: -1em 1em 2em 0.25em rgba(0, 0, 0, 0.2);
  transform: translateX(30%) rotateZ(5deg);
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.3s 0.25s ease-out;
}

.show-on-scroll.is-visible-left {
  opacity: 1;
  transform: rotateZ(-2deg);
}

.show-on-scroll.is-visible-right {
  opacity: 1;
  transform: rotateZ(2deg);
}

.row1,
.row2,
.row3 {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.row2 .hide-on-large {
  display: none;
}

.events .event-img {
  width: 520px;
  height: 280px;
}

.events .info {
  width: 520px;
  min-height: max-content;
  box-sizing: border-box;
  padding: 10px 20px;
}

.info .text {
  line-height: 22px;
}

.row1 .img1 {
  background: url("./images/event-valorant.png") no-repeat center center/cover;
}

.row2 .img2 {
  background: url("./images/photo-1564049489314-60d154ff107d\ 1.png") no-repeat
    center center/cover;
}

.row3 .img3 {
  background: url("./images/event-call-of-duty.png") no-repeat center
    center/cover;
}
/***** Events page starts *****/

/***** Prizes page starts *****/
.prizes {
  background-color: #923cb5;
  background-image: linear-gradient(147deg, #410829 0%, #052e30 80%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 180px;
  padding-bottom: 50px;
}

.prizes .heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  color: #fff;
  text-align: center;
  letter-spacing: 4px;
  font-size: 24px;
}

.prizes .heading .h2 {
  width: 10%;
}

.prizes .content {
  width: 100%;
  display: flex;
}

.prizes .content .prize-boxes {
  width: 40%;
  height: 100%;
  display: flex;
  margin: 32px 0;
  flex-direction: column;
}

.prizes .content .inner {
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
}
.prizes .content .inner h3 {
  font-size: 28px;
  font-weight: normal;
}

.prizes .content .inner ul {
  line-height: 60px;
  padding-left: 60px;
}

.prizes .content .inner ul {
  list-style: none;
  font-style: italic;
}

.prizes .content .inner ul li {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.prizes .for-small-screen {
  display: none;
}

.prizes .register-btn {
  width: max-content;
}

.prizes .register-btn:active {
  color: #fff;
  transform: scale(0.98);
}

/***** Prizes page ends *****/

/***** Glow on hover start *****/

.glow-on-hover {
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/***** Glow on Hover Ends ****/
/***** Register section starts ****/

.register-section {
  width: 100%;
  height: 100vh;
  display: none;
}

.register-pop-up {
  position: fixed;
  top: 0;
  display: block;
  background: rgba(0, 0, 0, 0.93);
  z-index: 50;
}

.form-submitted {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}

.align {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(147deg, #410829 0%, #052e30 80%);
}

.regi-container {
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  background-color: rgba(110, 108, 108, 0.5);
  padding: 30px;
  color: #000;
  position: relative;
}

.form-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cross-icon i {
  font-size: 24px;
  font-weight: 700;
  color: #c94b4b;
}

.cross-icon i:hover {
  animation: swirl 0.3s infinite linear;
}

@keyframes swirl {
  to {
    transform: rotate(180deg);
  }
}

.cross-icon {
  cursor: pointer;
}

.input-container {
  position: relative;
  margin: 30px 0 40px;
  width: 300px;
}

input {
  cursor: pointer;
  background-color: #000;
  display: block;
  font-size: 22px;
  margin-top: 20px;
  background: transparent;
  color: rgb(35, 220, 233);
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  z-index: 2;
}

.input-container label {
  position: absolute;
  top: 5px;
  left: 0px;
}

.input-container label span {
  display: inline-block;
  background-color: transparent;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input-container input:focus + label span,
.input-container input:valid + label span {
  color: #fff;
  transform: translateY(-30px);
}

.select-container select {
  margin-top: 16px;
  padding-left: 8px;
  width: 100%;
  height: 30px;
  font-size: 18px;
  appearance: none;
  background: url(https://image.flaticon.com/icons/png/512/32/32195.png) 96% /
    8% no-repeat #333;
  color: #fff;
  outline: none;
  border: 0;
}

.select-container select option {
  outline: none;
  border: 0;
}

.submit-btn {
  position: relative;
  left: 50%;
  padding: 8px 40px;
  border: none;
  transform: translateX(-50%);
  background-color: #c94b4b;
}

.submit-btn:hover {
  opacity: 0.8;
}

/**** Register Section Ends here ****/
/**** footer starts here  ****/
footer {
  background-color: #4f5050;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 0 20px;
}

.main-box {
  margin: 0;
  padding: 0;
  justify-content: center;
}

.game-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.game-logos ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.games {
  list-style: none;
}

.games img {
  padding: 10px 20px;
  height: 100px;
  width: 200px;
}

/*social-icons*/

.wrapper ul {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 60px;
  height: 60px;
  margin: 0 8px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid #d8e2dc;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #d8e2dc;
  margin-top: 0px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* discord */
.wrapper ul li:hover.discord {
  border: 5px solid blue;
  box-shadow: 0 0 15px blue;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-discord {
  color: blue;
  text-shadow: 0 0 15px #fff;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.outer-footer {
  padding: 10px;
  text-align: center;
  color: black;
  font-size: 13px;
}

/**** MEDIA QUERIES ****/

@media (max-width: 1000px) {
  /* prizes start*/
  .prizes {
    flex-direction: column;
    height: max-content;
    align-items: center;
    justify-content: center;
  }

  .prizes .heading {
    width: 80%;
    font-size: 20px;
  }

  .prizes .content {
    flex-direction: column;
    align-items: center;
  }
  .prizes .prize-boxes {
    margin-top: 0px;
    width: 70%;
    height: max-content;
  }

  .prizes .inner {
    width: 80%;
  }

  .prizes .inner h3 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .prizes .inner ul {
    padding-left: 30px;
  }

  .prizes .inner li {
    font-style: normal;
    font-size: 18px;
  }

  .prizes .inner li i {
    font-size: 20px;
  }

  .prizes .prize-boxes .gif {
    display: block;
  }

  .prizes .register-btn {
    width: max-content;
  }

  /* prizes ends */
}

@media (max-width: 700px) {
  /*nav bar starts*/
  .logo {
    display: none;
  }

  nav {
    justify-content: center;
  }
  /*nav bar ends*/
}

@media (max-width: 850px) {
  .register-btn {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  /* landing starts*/
  .landing {
    height: 120vh;
    background-position: center center;
    text-align: center;
  }

  .header {
    width: 100%;
    left: 45%;
  }

  .header h1 {
    font-size: 36px;
  }

  .header p {
    font-size: 22px;
  }

  /* landing ends*/
  /* events start*/

  .events {
    height: max-content;
    padding-top: 36px;
  }

  .row1,
  .row2,
  .row3 {
    flex-direction: column;
  }

  .row2 .hide-on-large {
    display: block;
  }

  .row2 .hide-on-small {
    display: none;
  }

  /* events ends*/
  /* prizes start*/

  .prizes .prize-boxes .gif {
    display: none;
  }
  .prizes .prize-boxes .for-small-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }

  .footer .wrapper ul li {
    width: 40px;
    height: 40px;
    margin: 0 6px;
    text-align: center;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }

  /* prizes ends*/
}

@media (max-width: 576px) {
  .header {
    left: 40%;
  }

  /* Styles for burger Starts */

  #toggle {
    display: block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #c94b4b;
    border-radius: 4px;
  }

  nav.active ul {
    width: 100%;
  }

  nav ul {
    display: none;
  }

  nav ul li {
    transform: rotateY(0deg);
    transition: transform 0.6s linear, opacity 0.6s linear;
    margin: 7px;
  }

  nav.active ul {
    display: flex;
    flex-direction: column;
    transform: rotateY(360deg);
  }

  .icon {
    background-color: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    height: 30px;
    width: 30px;
  }

  .icon .line {
    background-color: #fff;
    height: 2px;
    width: 28px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: transform 0.6s linear;
  }

  .icon .line2 {
    top: auto;
    bottom: 10px;
  }

  nav.active {
    background-color: rgba(0, 0, 0, 0.9);
  }

  nav.active .icon .line {
    left: 2px;
  }

  nav.active .icon .line1 {
    transform: rotate(-765deg) translateY(5.5px);
  }

  nav.active .icon .line2 {
    transform: rotate(765deg) translateY(-5.5px);
  }

  /* Styles for burger Ends */

  nav .logo {
    display: none;
  }

  nav {
    padding: 5px 2px;
    display: flex;
    justify-content: flex-end;
  }

  .events .heading {
    width: 100%;
  }

  .events .event-img {
    width: 100%;
  }

  .events .info {
    width: 100%;
  }

  .for-small-screen {
    margin-top: 50px;
  }

  .for-small-screen img {
    width: 200px;
    height: 200px;
  }

  .prizes .inner ul {
    padding-left: 0;
  }
}
